@import "../../style-variables/variables.scss";

.home{
    margin: 70px 20px ;
    text-align: center;
    &__title{
        @include h2-title
    }
    &__text{
        margin: 60px 0;
        text-align: left;
        font-size: 14px;
    }
    &__button{
        @include button;
    }

}