$main-color: #B70709;
$secondary-color: #D7EEE6;
$light-grey: #F6F5F3;

$screen-width: 768px;


@mixin button {
    background-color: $main-color;
    width: 180px;
    padding: 8px;
    color: $secondary-color;
    font-weight: 700;
    text-decoration: none;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    transform: scale(0.9);
    transition: 400ms;
    &:hover{
        cursor: pointer;
        transform: scale(1);
    }
    @media only screen and (min-width: 768px){
        width: 220px;
        font-size: 18px;
    }
}

@mixin h2-title{
    color: $main-color;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5em;
    width: 250px;
    margin: auto;
    @media only screen and (min-width: 768px){
        font-size: 30px;
        width: 60%;
    }
}