@import "../../style-variables/variables.scss";


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: $light-grey;
    &__mark{
        display: flex;
        align-items: center;
    }
    &__logo{
        width: 53px;
        height: 53px;
        border-radius: 50%;
        @media only screen and (min-width: 768px){
            width: 80px;
            height : 80px
      }
    }
    &__title{
        font-family: 'Dancing script';
        font-size: 25px ;
        margin-left: 10px;
        @media only screen and (min-width: 768px){
            font-size: 38px;
      }
    }
}