@import "../../style-variables/variables.scss";


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    &__mark{
        display: flex;
        align-items: center;
    }
    &__logo{
        width: 53px;
        height: 53px;
        border-radius: 50%;
    }
    &__title{
        font-family: 'Dancing script';
        font-size: 25px ;
        margin-left: 10px;
    }

}