@import "../../style-variables/variables.scss";


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: rgb(155,155,155);
    background: linear-gradient(153deg, rgba(155,155,155,1) 0%, rgba(246,245,243,1) 68%, rgba(246,245,243,1) 100%);
    @media only screen and (min-width: 768px){
        padding: 20px 50px 20px 50px;
    }
    &__mark{
        display: flex;
        align-items: center;
    }
    &__logo{
        width: 53px;
        height: 53px;
        border-radius: 50%;
        @media only screen and (min-width: 768px){
            width: 80px;
            height : 80px;
      }
    }
    &__title{
        font-family: 'Dancing script';
        font-size: 25px ;
        margin-left: 10px;
        @media only screen and (min-width: 768px){
            font-size: 38px;
      }
    }
}