@import "../../style-variables/variables.scss";

.footer{
    background-color: $light-grey;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__text{
        font-size: 12px;
        text-decoration: none;
        color: black;
        @media only screen and (min-width: 768px){
            font-size: 18px;
        }
    }
    
}